#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  background-color: rgb(151, 220, 220);
  color: black;
}

.puppyDetails {
  background-color: rgb(150, 106, 191);
}

h2 {
  color: blanchedalmond;
  font-family: "Anton", sans-serif;
  font-weight: 800;
  font-style: normal;
}
